<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div id="header">
	<div class="header_inner">
		<div class="header_top">
			<div class="header_member">
				<a href="join.html">JOIN</a>
				<a href="login.html">LOGIN</a>
			</div>
		</div>
		<div class="header_bottom">
			<div class="header_logo">
				<a href="index.html">
					<img src="img/logo.png">
				</a>
			</div>
			<div class="header_menu">
				<ul>
					<li>
						<a href="#">HOME</a>
					</li>
					<li>
						<a href="#">MENU1</a>
					</li>
					<li>
						<a href="#">MENU2</a>
					</li>
					<li>
						<a href="#">MENU3</a>
					</li>
					<li>
						<a href="#">MENU4</a>
					</li>
					<li>
						<a href="#">MENU5</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="section">
	<div class="article">
		<div class="article_inner">
			<h1>LOGIN</h1>
			<div class="login_form">
				<form action="/auth/login" method="post">
					<p><strong>ID</strong><input type="text" name="username" id="username"></p>
					<p><strong>PW</strong><input type="password" name="password" id="password"></p>
					<p><button class="login_btn">로그인</button></p>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="footer_inner">
		<div class="footer_top">
			<a href="#">회사소개</a>
			<a href="#">이용약관</a>
			<a href="#">개인정보처리방침</a>
		</div>
		<div class="footer_bottom">
			<dl>
				<dd>
					<ul>
						<li>블루스프린트</li>
						<li><strong>대표이사.</strong> 하승현</li>
						<li><strong>주소.</strong> 경기도 의왕시 이미로 40 인덕원 IT밸리 D동 112호</li>
						<li><strong>대표번호.</strong> 031-8069-7770</li>
						<li><strong>대표메일.</strong> daniel.ha@bluesprint.net</li>
					</ul>
				</dd>
				<dd>Copyright ⓒ 2018 BLUESPRINT all rights reserved.</dd>
			</dl>
		</div>
	</div>
</div>
</body>
</html>
